@import "../../styles/mixins.scss";

// Mobile
.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  align-items: center;
  border: 2px solid var(--lavanda);
  text-align: center;
  margin-block-end: 10px;
  border-radius: 10px;
  
  .contactContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
  }

  .avatar {
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem var(--plainBlack);
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    @include shadowedText;
  }

  h4 {
    margin-bottom: 8px;
  }
}
