.postContainer {
  padding: 1rem;
  max-width: 60ch;

  p, li {
    line-height: 1.6rem;
  }

  ol {
    list-style-type: decimal;
    li {
      list-style-type: decimal;
    }
  }
  ul {
    list-style-type: disc;
    li {
      list-style-type: disc;
    }
  }
  li {
    margin-inline-start: 1.3rem;
  }
}

.prism-code {
  overflow-x: scroll;
}