/* mobile */
.infoContainer {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-bottom: 1px solid var(--lavanda);
}

.info {
  padding-left: 12px;
}

.contactContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
}
