/* variables */
:root {
  --mainRed: #fa5252;
  --mainGreen: #40c057;
  --mainBlue: #15aabf;
  --gray: #2a2b2e;
  --otherGray: #38444d;
  --lightGray: #bdbdbd;
  --white: #f5f5f5;
  --lavanda: #7950f2;
  --purple: #a277ff;
  --greenish: #82c91e;
  --greenLight: #12b886;
  --plainBlack: #000000;
  --blue: #82e2ff;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background-color: var(--gray);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

p,
a,
li {
  color: var(--white);
}

/* fonts */
/* mobile */

/* small tablet */
@media screen and (min-width: 620px) {
}

/* large tablets and laptops */
@media screen and (min-width: 960px) {
}

/* desktop */
@media screen and (min-width: 1200px) {
}
