@use "../../styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  min-height: 100vh;

  header {
    padding-block-start: 8px;
    z-index: 10;
    position: sticky;
    width: 100%;
    top: 0;
  }

  .body {
    flex: 1;
    // margin: auto;
  }
}

@media (min-width: variables.$tablet) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    align-self: center;

    // article {
    //   flex: 4;
    // }

    footer: {
      flex: 1;
    }
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    /* From https://css.glass */
    background: rgba(42, 43, 46, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    background: rgba(42, 43, 46, 0.95);
  }
}
